.footer__menu-link:hover, .footer__link:hover, .menu__link:hover {
  color: #fcd7b6;
}
.footer__menu-link:active, .footer__link:active, .menu__link:active {
  color: #a3bbc8;
}
.footer__menu-link:focus, .footer__link:focus, .menu__link:focus {
  outline: 1px solid #fcd7b6;
}

.footer__button:hover {
  color: #000;
}
.footer__button:active {
  background-color: #edf1f4;
}
.footer__button:focus {
  outline: 1px solid #fcd7b6;
}

.slider__link:hover {
  background-color: #436372;
}
.slider__link:active {
  background-color: #7b7b7b;
}
.slider__link:focus {
  outline: 1px solid #edf1f4;
}

.slider__text, .footer__bottom, .footer {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: normal;
}

.slider .slick-dots button, .slider__content {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

.menu__link {
  font-family: "Rubik-Bold", sans-serif;
  font-weight: 700;
}

.features__text, .footer__label, .user-nav__num {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: normal;
}

.products__name {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
}

.products, .features__title, .footer__name {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: bold;
}

@font-face {
  font-family: "Rubik-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Rubik-Regular"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Rubik-Medium"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Bold";
  font-style: normal;
  font-weight: bold;
  src: local("Rubik-Bold"), url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("DMSans-Regular"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("DMSans-Medium"), url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Bold";
  font-style: normal;
  font-weight: bold;
  src: local("DMSans-Bold"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.3;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
}

.container__content {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.header {
  padding-top: 45px;
  padding-bottom: 45px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-right: 150px;
}

.menu__list {
  display: flex;
  justify-content: center;
}
.menu__item {
  margin-right: 33px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-size: 15px;
  color: #436372;
  transition: color 0.4s;
}

.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 2px;
}
.user-nav__link {
  width: 50px;
  height: 50px;
  background-color: #edf1f4;
  background-repeat: no-repeat;
  background-position: center center;
}
.user-nav__link--find {
  margin-right: 20px;
  background-image: url("../images/icon/find-ico.svg");
  border-radius: 50%;
  transition: background-color 0.4s;
}
.user-nav__link--find:hover {
  background-color: #a3bbc8;
}
.user-nav__link--find:active {
  background-color: #edf1f4;
}
.user-nav__link--heart {
  position: relative;
  background-color: inherit;
  background-image: url("../images/icon/heart-ico.svg");
  background-position: 22px 20px;
}
.user-nav__link--heart::after {
  position: absolute;
  top: 10px;
  right: -23px;
  width: 1px;
  height: 32px;
  content: "";
  background-image: url("../images/icon/line-ico.svg");
  background-repeat: no-repeat;
}
.user-nav__link--cart {
  position: relative;
  background-color: inherit;
  background-image: url("../images/icon/cart-ico.svg");
  background-position: 10px 20px;
}
.user-nav__link--dots {
  background-image: url("../images/icon/dots-ico.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: background-color 0.4s;
}
.user-nav__link--dots:hover {
  background-color: #a3bbc8;
}
.user-nav__link--dots:active {
  background-color: #edf1f4;
}
.user-nav__group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 178px;
  height: 50px;
  margin-right: 20px;
  background-color: #fcd7b6;
  border-radius: 25px;
}
.user-nav__num {
  position: absolute;
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  color: #243f4d;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
}
.user-nav__num--heart {
  top: 12px;
  right: 0;
}
.user-nav__num--cart {
  top: 12px;
  right: 12px;
}

.footer {
  padding-top: 80px;
  font-size: 14px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 59px;
  border-bottom: 2px solid #dae4e9;
}
.footer__logo {
  display: block;
  padding-left: 2px;
  margin-bottom: 23px;
}
.footer__item {
  width: 100%;
  max-width: 240px;
}
.footer__item:last-child {
  max-width: 270px;
}
.footer__address-item {
  margin-bottom: 20px;
  font-style: normal;
  color: #7b7b7b;
}
.footer__address-text {
  text-transform: uppercase;
}
.footer__address-link {
  color: inherit;
}
.footer__name {
  display: block;
  padding-top: 18px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #1f2044;
  text-transform: uppercase;
  letter-spacing: -0.9px;
}
.footer__text {
  margin-bottom: 14px;
  letter-spacing: 0.3px;
}
.footer__link {
  transition: color 0.4s;
}
.footer__message {
  margin-bottom: 37px;
  line-height: 1.6;
  letter-spacing: 0.3px;
}
.footer__email {
  width: 160px;
  height: 38px;
  padding: 15px;
  font-size: 12px;
  background-color: #fef7f0;
  border: none;
}
.footer__button {
  width: 100px;
  height: 38px;
  font-size: 14px;
  color: #fff;
  background-color: #a3bbc8;
  border: none;
  transition: color 0.4s, background-color 0.4s;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  font-size: 14px;
  color: #7b7b7b;
  letter-spacing: 0.2px;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
}
.footer__menu-link {
  color: inherit;
  transition: color 0.4s;
}
.footer__menu-text {
  padding: 0 15px;
  border-right: 2px solid #7b7b7b;
}
.footer__menu-text:last-child {
  padding-right: 3px;
  border-right: none;
}

.slider__content {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 820px;
  padding-right: 100px;
}
.slider__item {
  position: relative;
}
.slider__left {
  padding-top: 219px;
  padding-left: 298px;
}
.slider__title {
  width: 420px;
  margin-bottom: 30px;
  font-size: 72px;
  font-style: normal;
  line-height: 0.95;
  color: #243f4d;
}
.slider__text {
  width: 390px;
  margin-bottom: 39px;
  font-size: 18px;
  line-height: 1.6;
  color: #436372;
  letter-spacing: 0.1px;
}
.slider__link {
  display: inline-block;
  padding: 21px 20px 19px 28px;
  font-size: 15px;
  color: #fff;
  background-color: #a3bbc8;
  transition: background-color 0.4s;
}
.slider__arrow {
  margin-left: 56px;
}
.slider__right {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: 55% 52%;
}
.slider .slick-dots {
  position: absolute;
  bottom: 45px;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
}
.slider .slick-dots:last-child {
  margin-right: 0;
}
.slider .slick-dots li {
  margin-right: 10px;
}
.slider .slick-dots button {
  width: 30px;
  height: 30px;
  font-size: 11px;
  line-height: 30px;
  text-align: center;
  background-color: #fce3cc;
  border: none;
  border-radius: 50%;
  outline: transparent;
}
.slider .slick-active button {
  background-color: #fff;
}

.features {
  display: flex;
  height: 170px;
}
.features__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 140px;
  padding-left: 223px;
  background-color: #fef6f0;
  border-right: 1px solid #e7e2de;
}
.features__item--support {
  width: 100%;
  max-width: 566px;
}
.features__item--delivery {
  width: 100%;
  max-width: 604px;
  padding-bottom: 10px;
  padding-left: 240px;
}
.features__item--payment {
  width: 100%;
  max-width: 600px;
  padding-left: 240px;
  border-right: none;
}
.features__title {
  position: relative;
  margin-bottom: 6px;
  font-size: 18px;
}
.features__title::before {
  position: absolute;
  top: 4px;
  left: -77px;
  width: 55px;
  height: 53px;
  content: "";
  background-image: url(../images/icon/support-ico.svg);
  background-repeat: no-repeat;
}
.features__title--delivery::before {
  background-image: url(../images/icon/delivery-ico.svg);
}
.features__title--payment::before {
  left: -90px;
  background-image: url(../images/icon/payment-ico.svg);
}
.features__text {
  line-height: 1.8;
}

.products {
  padding-top: 65px;
  text-align: center;
}
.products__title {
  margin-bottom: 25px;
  font-size: 36px;
  color: #191919;
}
.products__filter {
  display: flex;
  justify-content: center;
  padding-left: 30px;
  margin-bottom: 80px;
  font-size: 16px;
  text-align: center;
}
.products__btn {
  padding: 0;
  margin-right: 30px;
  color: #8b8b8b;
  text-decoration: none;
  background-color: #fff;
  border: none;
  outline: transparent;
  transition: color 0.4s;
}
.products__btn:hover {
  color: #1a1a1a;
}
.products__btn:active {
  color: #a3bbc8;
}
.products__btn:focus {
  outline: 1px solid #fcd7b6;
}
.products .mixitup-control-active {
  color: #1a1a1a;
}
.products__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 40px;
}
.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 270px;
  height: 380px;
  margin-right: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
}
.products__name {
  margin-bottom: 10px;
  color: #243f4d;
}
.products__photo {
  display: block;
  margin-bottom: 60px;
}
.products__price {
  margin-bottom: 38px;
  color: #a3bbc8;
}
.products__act {
  display: none;
}

/*# sourceMappingURL=style.css.map */
